/uaserver/CMakeCache.txt
/uaserver/CMakeFiles
/uaserver/Makefile
/uaserver/cmake_install.cmake
/uaserver/output.map
/uaserver/pkiserver/
/uaserver/uaserver
/wrapper/objs/
/wrapper/*.d
/wrapper/lib/
/adapter/objs/
/adapter/*.d
/adapter/lib/
/Visual Studio 2012 Solution/**/*.vcxproj.user
/Visual Studio 2012 Solution/**/mmictrl.trc
/Visual Studio 2012 Solution/**/mmigtway.trc
/Visual Studio 2012 Solution/**/Debug/
/Visual Studio 2012 Solution/**/Release/
/Visual Studio 2012 Solution/*.sdf
/Visual Studio 2012 Solution/*.opensdf
/Visual Studio 2012 Solution/*.suo
/Visual Studio 2012 Solution/ipch/
/Visual Studio 2012 Solution/UA Server/tmp/

